#chatContainer {
    flex-direction: column;
    position: relative;
    opacity: 0;
    width: 0%;
    height: 0%;
    border: 2px solid #ffffff;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 0.5s ease-out;
    font-size: 22px;
}
#myMessageTextArea {
    border: 0px solid #ffffff;
    font-family: 'Spectral', serif;
    width: 50%;
    height: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 0px 5px 1px #ffffff;
}
#myMessageTextArea:focus {
    box-shadow: 0 0 5px 1px #404040;
}

#sendMessage {
    background-color: rgba(4, 147, 240, 0.4);
    margin-top: 1%;
    margin-bottom: 1%;
    width: 150px;
    height: 35px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

#sendMessage:hover {
    cursor: pointer;
    background-color: rgba(4, 147, 240, 1);
    transform: scale(1.1);
}


#chatContent{
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #ffffff;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: auto;
    width: 99%;
    height: 60%;
    box-shadow: 0px 0px 5px 1px #ffffff;
}
.emptyMyMessage{
    margin-left: 37%;
     transition: all 0.5s ease-in;
}

.empty{
    display: inline-block;
    margin-left: 3%;
    transition: all 0.5s ease-in;
    min-height: 10px;
    opacity: 0;
}

.othersMessage{  
    display: inline-block;
    background-color: rgba(95,212,95,0.5);
    font-weight: 600;
    margin-top: 7px;   
    width: 66%;
    margin-left: 3%;
    opacity: 1;
}

.myMessage{
    display: inline-block;
    margin-left: 37%;
    background-color: rgba(89,166,234,0.5);
    font-weight: 600;
    margin-top: 5px;
    width: 60%;
    opacity: 1;
}

.messageInfo{
    color: #2b2b2b;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
}

.userConenctionAndDisconectionMessage{
    display: inline-block;
    background-color: rgba(111, 111, 111, 0.5);
    font-weight: 600;
    margin-top: 7px;   
    width: 38%;
    margin-left: 3%;
    margin-right: 30%;
}
.connectionLost{
   display: inline-block;
    background-color: rgba(111, 111, 111, 0.5);
    font-weight: 600;
    text-align: center;
    margin-top: 7px;   
    width: 94%;
    margin-left: 3%; 
}


@media all and (max-width: 480px) {
    #chatContainer {
        font-size: 12px;
    }
    #chatContent{
        width: 97%;
    }
    #myMessageTextArea {
        width: 95%;
        height: 20%;
    }
    .messageInfo{
        font-size: 10px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #chatContainer {
        font-size: 14px;
    }
    #chatContent{
        margin-top: 3%;
        width: 97%;
    }
    #myMessageTextArea {
        margin-top: 2%;
        width: 95%;
        height: 20%;
    }
    .messageInfo{
        font-size: 12px;
    }
}

@media all and (min-width: 769px) and (max-width: 1140px) {
    #chatContainer {
        font-size: 14px;
    }
    #chatContent{
        margin-top: 3%;
        width: 97%;
    }
    #myMessageTextArea {
        margin-top: 2%;
        width: 75%;
        height: 20%;
    }
}