@import url('reset.css');

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Spectral', serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('login.css');
@import url('chat.css');
@import url('chatUser.css');
@import url('messages.css');
@import url('animation.css');